/* @override http://localhost:3000/stylesheets/dashboard.css?1223361671 */

body 
{
	margin: 0px;
	padding: 0px;
	background-image:url(/images/ssl-background.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-color:black;
}

body, th, td
{
	color: #f5dba1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 20px;
}

#container
{
	margin:0px auto;
	width: 960px;
	padding:80px 0px 30px 0px;
}

#container #headersection
{
	margin: 0px auto;
	height: 126px;
	width: 960px;
	background-image:url(/images/dashboard-header.png);
	background-position:top;
	background-repeat:no-repeat;
}

#container #logo
{
	background-image: url('');
	background-repeat: no-repeat;
	padding:0px;
	display: block;
	border: 0;
	height:49px;
}

#container #container2
{
	width: 900px;
	background-image:url(/images/dashboard-background2.jpg);
	background-position:top;
	background-repeat:no-repeat;
	background-color:#191919;
	padding: 0px 30px 30px 30px;
	float:left;
}
#nav
{
	float:right;
	margin:45px 45px 0px 0px;
	max-width:550px;
	height:20px;
	vertical-align:middle;
	text-align:right;
}
#nav ul
{
	text-align:center;
	margin:0 auto;
}
#nav li
{
	float:left;
	list-style-position: inside;
	list-style-type: none;
	padding-left:15px;
	position:relative;
}

#nav li a
{
	text-decoration:none;
	color:#ffffff;
	font-weight:normal;
	font-size:10pt;
	font-family:arial,helvetica,sans-serif;
}
#nav li a:hover
{
	text-decoration:underline;
	color:#ffffff;
	font-weight:normal;
	font-size:10pt;
	font-family:arial,helvetica,sans-serif;
}

#nav ul ul
{
	position: absolute;
	z-index: 500;
	border:#ffffff solid 1px;
	background:#00457c;
	top:20px;
	left:0px;
	list-style:none;
	width:150px;
}

#nav ul ul li
{
	width:140px;
	text-align:left;
}
#nav ul ul li a
{
	font-size:10px !important;
	clear:right;
	width:140px;
	display:block;
	padding: 0px 5px;
}
#nav ul ul li a:hover
{
	
}
#nav ul ul ul
{
	top: 0;
	left: 100%;
}
div#nav ul ul,
div#nav ul li:hover ul ul,
div#nav ul ul li:hover ul ul
{
	display: none;
}
div#nav ul li:hover ul,
div#nav ul ul li:hover ul,
div#nav ul ul ul li:hover ul
{
	display: block;
	width: 150px;
}
#nav ul ul li
{
	font-size:10pt;
	font-weight:normal;
	color:#000000;
}
#footer
{
	text-align:left;
	font-size:11px;
	color:#62523b;
	background-image:url(/images/footer-background.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:960px;
	margin:20px auto;
	height:87px;
	clear:both;
}

#footer .footercontent
{
	float:left;
	padding-left:50px;
	padding-top:20px;
	display:block;
	color:#b4b4b4;
	font-size: 8pt;
	line-height: 17px;
	text-decoration:none;
}


#container #container2 #MainRight
{
	float: right;
	width: 300px;
	margin: 10px 10px 0px 0px;
	padding:0px;
}
#container #container2 #MainLeft
{
	width: 445px;
	float:left;
	margin:20px 0px 0px 0px;
}

#container #container2 #MainLeft
{
	width: 563px;
	float:left;
	margin:0px;
	padding-right:43x;
	padding-top:25px;
}

#container #container2 #MainLeft h1
{
	line-height:40px;
	color: #FFF;
	font-size: 2em;
	font-weight:bold;
	text-align: left;
	display:block;
	height:40px;
	margin-bottom:5px;
	border:none;
}
#featureBOX
{
	background-color:#333333;
	background-image:url(/images/box_back.jpg);
	background-position:top;
	background-repeat:repeat-x;
	border:#2d2d2d solid 1px;
	width: 250px;
	float:right;
	margin-bottom:20px;
	padding: 40px 10px 30px 20px;
	margin-right: -7px;
}
.webform_label 
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 0.8em;
	padding-left: 3px;
	line-height: 0.5em;
}

.webform_field
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 0.9em;
	margin-bottom: 15px;
}
#map_canvas 
{
	display:block; 
	float:left; 
	width: 100%; 
	height: 800px;
	margin-top: 25px;
	margin-left: 3px;
	border:#2d2d2d solid 1px;
}

/*-------------------------------Forms ----------------------------------*/



fieldset {
	margin-bottom: 10px;
}
label {
	font-size: 110%;
	line-height: 1.75em;
	color: #000;
	padding: 0;
	margin: 0;
}

.search_form {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 1.0em;
	line-height: 1.3em;
	
}

