/* @override 
	http://localhost:3000/stylesheets/login.css?1221774302
	http://localhost:3000/stylesheets/login.css?1222055083
*/

body {
	color: #333;
	font: 12px "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

body.login {
	background: #d7d7d7
}

div#login {
	margin: 108px auto 0;
	width: 546px
}

div#cap-top {
	background: transparent url(/images/login-top.png) no-repeat;
	height: 8px;
	width: 546px
}

* html #cap-top {
	margin-bottom: -8px
}


div#cap-body {
	background: transparent url(/images/login-bg.png) repeat-y;
	width: 545px
}


div#cap-bottom {
	background: transparent url(/images/login-bottom.png) no-repeat;
	height: 15px;
	width: 546px
}


div#login div#panelLogin div {
	margin: 0 auto;
	width: 456px;
	padding-bottom: 10px;
}

div#login div#branding {
	padding-top: 20px
}

div#login div#branding img {
	display: block;
	margin: 0 0 10px 40px
}

div#login label {
	color: #888;
	display: block;
	font-size: 12px
}

div#login input#txtLogin,div#login input#txtPassword,div#login input#txtEmailAddressResetPass,div#login input.textbox340 {
	background: #fafafa;
	border: 1px solid #eee;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 3px;
	width: 440px
}

* html div#login input#txtLogin,* html div#login input#txtPassword,* html div#login input#txtEmailAddressResetPass,* html div#login input.textbox340 {
	background: #eee;
	border: 1px solid #ddd;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 3px;
	width: 440px
}

div#login input#txtLogin:focus,div#login input#txtPassword:focus,div#login input.textbox340:focus {
	background: #fcfcfc;
	border: 1px solid #ccc
}

div#login div.submit p {
	float: left;
	margin: 0
}

.button-right {
	float: right;
	margin-bottom: 10px
}

div#login a:link,div#login a:visited {
	color: #aaa
}

div#login a:hover,div#login a:active {
	color: #fff
}

p.lostpassword {
	margin: 0;
	position: relative;
	top: -50px;
	left: 45px;
	width: 260px
}

div#login p.lostpassword a {
	color: #1969bc !important
}

body.login div#panelErrorMsg {
	color: #000;
	margin: 30px auto -85px;
	padding: 18px 18px 18px 54px;
	width: 450px
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

.clearfix {
	display: block
}

* html .clearfix {
	height: 1px
}

div.warning_box {
	font-size: .80em;
	margin-left: 35px;
	margin-right: 35px;
	padding-bottom: 20px;
	padding-top: 25px;
}

div.warning_box h2 {
	font-size: 1.0em;
}

div.error_message {
	font-size: 11px;
	margin-left: 45px;
	margin-right: 51px;
	padding-left: 15px;
	padding-bottom: 40px;
	padding-top: 10px;
	background-color: #FDC0C1;
	border: 1px solid #E59D9E;
}
div.notification_message {
	font-size: 11px;
	margin-left: 45px;
	margin-right: 51px;
	padding-left: 15px;
	padding-bottom: 40px;
	padding-top: 10px;
	background-color: #E8FCEA;
	border: 1px solid #7ed566;
}
div.loginpanel_text {
	font-size: 11px;
	padding-top: 15px;
}

div.loginpanel_text div#login a:active, div#login a:visited {
	color: #1969C9;
	text-decoration: none;
}
div.loginpanel_text a:hover {
	color: #1969C9;
	text-decoration: underline;
}

