<div id="wrapper" class="quick-sign-up">        

	<div id="cap-top" class="container"></div>
	<div id="header" class="container">
		<div class="inner">
			 <img id="imgLogo" src="/images/super.jpg" />
		        </div>
	        </div>
	        <div id="cap-body" class="container">	       	        
	        
	            <div id="panelSteps">
		 
	                <div id="steps" class="column span-6"></div>
	                
	          </div> 
		        <div id="content" class="column prepend-1 span-16 append-1 last">

		            <div id="panelStyle1" class="inner">
		            <br><br><br><br>
                <h1>Activation Successful!</h1>
                <p>
                Username: <%= @user.login %><br>
                Email: <%= @user.email %><br>
                <p>

                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ut felis. Nulla ut nisi ac magna congue ultrices. Donec rutrum, diam et ultricies auctor, lorem sem venenatis metus, non auctor mauris tortor in lorem. Praesent sed lectus et justo ornare hendrerit. In elementum cursus risus. Vivamus hendrerit tincidunt ante. Sed posuere libero at metus varius blandit. Nullam sed enim in metus aliquet tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum pretium, ipsum quis porttitor rhoncus, eros turpis vestibulum urna, mattis interdum massa arcu id risus. Aliquam dignissim ullamcorper magna. Nunc tincidunt, nisl ut varius volutpat, elit augue sodales ipsum, eget ultricies sapien sem pulvinar enim.

                Ut at massa sit amet velit vestibulum pretium. Vivamus id dui quis nunc tincidunt rutrum. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec egestas purus a mi. Cras viverra magna sit amet arcu. Nulla facilisi. Vivamus in tortor. Ut tincidunt. Donec purus. Sed dictum consectetuer pede. Quisque consectetuer orci sit amet diam. Maecenas suscipit. Sed vitae arcu et ipsum pulvinar rhoncus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed euismod.
                <br>

				        <div class="footer clear">
				        SuperSecret Account Team
				         <br><br><br><br>
				        </div>
	</div>
		        </div>
	        </div>
	        <div id="cap-bottom" class="container"></div>
        </div>
</div>        
        

</div>
