<html>
<head>
</head>
<body style="background-color:#FFFFFF;font-size:<%=@device.textsize%>">
	<div style="background-color:#FFFFFF;text-align:center;"><img src="/images/logo_small.png"/></div>
	<div><%=@headline%></div>
	<div><%=@playermsg%><div>
	<div><%=@standardclaimmsg%></div>
		
	<a href="/where/widget">Back to SuperSecretLabs Home</a>
</body>
</html>


