<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	 <!--<%= stylesheet_link_tag 'dashboard' %>-->
	 <%= javascript_include_tag @device.jsinclude if @device.respond_to?("jsinclude") %> 
	 
</head>
<body style="background-color:#FFFFFF;font-size:<%=@device.textsize%>" onload="doLatLng()">
	<%=#request.env.each_pair {|key, value| puts "#{key}::#{value}<br><br>" }%>
	<div style="background-color:#FFFFFF;text-align:center;"><img src="/images/logo_small.png"/></div>
	<div>
		Our satellites see you here...
		<p id="status"></p>
		<img id="locationMap"/>
	</div>
	<form id="queryForm" name="queryForm">		
		<input type="button" value="Snoop for Loot" onClick="doSubmit('snoop');return false;">
		Sniff for Hints
		Do you know the code word?
		About SuperSecretLabs
		<input type="hidden" name="lat" id="lat" value=""/>
		<input type="hidden" name="lng" id="lng" value=""/>
	</form>
</body>
</html>

