<br><br><br><br>
<h1>Registration Complete!</h1>
<p>
Username: <%= @user.login %><br>
Email: <%= @user.email %><br>
<p>

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer interdum consectetuer metus. Aliquam semper. Curabitur dignissim, velit a pellentesque elementum, ipsum libero ultrices ante, sed dapibus justo ligula ac metus. Maecenas nisl nunc, consequat bibendum, auctor aliquet, pellentesque ac, pede. Nam in eros. Integer urna tortor, suscipit in, tincidunt a, iaculis in, mi. Sed feugiat libero.
<br>
<br>