<br><br><br><br>
<h1>You are almost done!</h1>
<p>
Thank you for registering with us <%= @user.first_name %> <%= @user.last_name %>, but you are not done yet.  An email has been sent to <%= @user.email %> and it should arrive in your inbox in next 5-10 minutes.  Follow the instructions and activate your Sponsor account by clicking on the activation link. 
</p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam quis leo. Phasellus pede arcu, convallis vel, euismod fringilla, lacinia quis, arcu. Aliquam erat volutpat. Duis ultricies facilisis neque. Sed porta leo eu massa. Phasellus mollis luctus lacus. Pellentesque augue velit, hendrerit id, auctor vitae, fermentum vel, nisi. Ut lacus velit, pellentesque a, posuere quis, ornare sit amet, augue.
<br>
<br>