<div id="wrapper" class="quick-sign-up">        

	<div id="cap-top" class="container"></div>
	<div id="header" class="container">
		<div class="inner">
			 <img id="imgLogo" src="/images/super.jpg" />
		        </div>
	        </div>
	        <div id="cap-body" class="container">	       	        
	        
	            <div id="panelSteps">
		 
	                <div id="steps" class="column span-6"></div>
	                
	          </div> 
		        <div id="content" class="column prepend-1 span-16 append-1 last">

		            <div id="panelStyle1" class="inner">
		            <%= render :partial => @confirmation_message %>

				        <div class="footer clear">
				        SuperSecret Account Team
				         <br><br><br><br>
				        </div>
	</div>
		        </div>
	        </div>
	        <div id="cap-bottom" class="container"></div>
        </div>
</div>        
        

</div>
