<div id="wrapper" class="quick-sign-up">        
	<div id="cap-top" class="container"></div>
	<div id="header" class="container">
		<div class="inner">
			 <img id="imgLogo" src="/images/super.jpg" />
		        </div>
	        </div>
	        <div id="cap-body" class="container">	       	        
	        
	            <div id="panelSteps">
		 
	                <div id="steps" class="column span-6">
			            <ol>
				            <li><a id="lbStyle1" href="#">Login Details</a></li>
				            <li><a href="/register/contact">Contact Information</a></li>
				            <li class="current">Device</li>
				            <li><a id="lbFinish" disabled="disabled">Finish</a></li>
			            </ol>
			        </div>
	</div> 
		        <div id="content" class="column prepend-1 span-16 append-1 last">
		        
		            <div id="panelStyle1" class="inner">
		    		        <br>		
    		        		<h1>Did you receive a shortcode?</h1>
              <br>            
							<% form_for :user do |f| -%>
              <table class="default" border="0">
							<tbody>
							<tr><td><input type="radio" /><label><strong>Yes</strong>, I have a shortcode from previous visit to the site using my device.</label></td></tr>
        			<tr><td><input type="radio" /><label><strong>No</strong>, I don't even know what a shortcode is.</label></td></tr>
        			</tr>
							<tr>
							<td>		
						</td>
			</tr>
			</tbody>
		</table>
		<% end -%>
				            <hr />
				            <div class="footer clear">
				                <a id="FinishStyle1" class="finish" href="">Finish</a>
				                <a id="NextStyle1" class="next" href="">Next</a>
				            </div>
	</div>
		        </div>
	        </div>
	        <div id="cap-bottom" class="container"></div>
        </div>
       
</div>        
        

</div>








