<% if @device %>
<div id="shortcode-device">
<span class="notification-message">Shortcode identified</span><br>
Unique ID: <%= @device.uniqueid %><br>
</div>
<% else %>
<div id="register-error-message">Shortcode not recognized</span>
<% end %>