<div class="topview">
	<div class="topofheader"><h4>SuperSecret Labs</h4></div>
	<div class="midofheader"><h1><%= link_to 'Prize Lab Dashboard', prizes_path %></h1></div>
	<div class="botmofheader"></div>	
</div>