<%@bodyscript = 'onload="initialize()" onunload="GUnload()"'%>

<script>
var map=null;
function initialize() 
{
	if (GBrowserIsCompatible()) 
	{
		map = new GMap2(document.getElementById("map_canvas"));
		map.setCenter(<%=GLatLng.from_georuby(@prize.center).to_javascript%>, 13);
<% if @prize.zoom.nil? %>        
map.setZoom(13);
<% else %>
map.setZoom(<%=@prize.zoom.to_s %>);
<% end %>

		map.disableDragging();
        <%@color=@prize.quantity>0 ? "#0000FF" : "#FF0000"%>
        prizearea = <%=GPolygon.from_georuby(@prize.prizearea,@color,'5','1',@color,'0.2').to_javascript%>
        map.addOverlay(prizearea);
	}
}
</script>

<div id="map_canvas" style="width: 500px; height: 300px"></div>