<tr class="list-row">
	<td scope="row"><%= link_to h(prize.name), prize %></td>
	<td scope="row"><%= prize.prizetype.camelize %></td>
	<td scope="row"><%= prize.status %></td>
	<td scope="row"></td>
</tr>