<div id="nav">
   <ul>
     <li><a href="/sponsor/dashboard">Dashboard</a></li>
     <li><a href="/account">Account</a></li>
	 <li><%= link_to 'Logout', '/logout', :confirm => 'Are you sure you want to log out?' %>
    </ul>
</div>