
<div id="nav">
   <ul>
     <li><a href="/sponsor/dashboard">Dashboard</a></li>
     <li><%= link_to "Account", :controller => :account, :action => :settings %></li>
	 <li><%= link_to "Logout (#{current_user.login})", '/logout', :confirm => 'Are you sure you want to log out?' %>
    </ul>
</div>