
<div id="page-description">
<h2>Prizes submitted by <%= current_user.first_name%> <%= current_user.last_name %>
</div>


	<table width="100%" id="info-table">
		<tr class="header-row">
			<td scope="row" width="300px">Name</td>
			<td scope="row" width="100px">Type</td>
			<td scope="row" width="110px">Status</td>
			<td scope="row"></td>
		</tr>
	<tbody>
	<%= render :partial => @prizes %>
	</tbody>
	</table>