<table class="prizes_list">
<tbody>
  <tr><th colspan=4>Your Sponsored Prizes</th></tr>

<% for prize in @prizes %>
<%= render_partial 'prizes/prizelist_table' %>
<% end %>

</tbody>
</table>
<br />

<%= link_to 'Add another Prize', new_prize_path %>
